<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>HBnB</title>
  </head>
  <body>

 <form class="box" action="index.html" method="post">

      <h1><font face="bradley hand" color="red">Holbie, text me!</font></h1>
      <input type="text" name="" placeholder="Holberton Id">
      <input type="Password" name="" placeholder="Password">
      <input type="text" name="" placeholder="API key">
      <input type="text" name="" placeholder="Cohort">
      <input type="text" name="" placeholder="Location">
      <div class="message-div">
        <div class="row">
          <div class="column">
            <input type="checkbox" id="text_msg" >
            <label for="text_msg"> Text Message</label>
            <input type="text"  name="phone" class="myPhone" placeholder="Phone Number">
            <input type="text"  name="" class="myPhone" placeholder="Nexmo API">
            <input type="text"  name="" class="myPhone" placeholder="Nexmo Secret">
          </div>

          <div class="column">
            <input type="checkbox" id="e_mail" name="">
            <label for="e_mail"> Email</label>
            <label class="myDescription">We will send a notification to your Holberton School Email</label>
          </div>
        </div>
      </div>
      <input type="submit" name="" value= "SUBMIT">
</form>
  </body>
</html>
