<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>HBnB</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <SCRIPT src="static/script.js"></SCRIPT>
  </head>
  <body>

 <form class="box" action="index.html" method="post">

      <h1><font face="bradley hand" color="red">Holbie, text me!</font></h1>
      <input id="studentId" type="text" name="" placeholder="Holberton Id ex:802" pattern="[0-9]{3}" required>
      <input id="password" type="Password" name="" placeholder="Password" required>
      <input id="apiKey" type="text" name="" placeholder="API key ex: 8d2fd1...feb362" required>
      <input id="cohort" type="text" name="" placeholder="Cohort ex: SF-0619" required>
      <!--input type="text" name="" placeholder="Location  ex:SF"--> 
      <div class="message-div">
        <div class="row">
          <div class="column">
            <input id="sendText" type="checkbox" id="text_msg" >
            <label for="text_msg"> Text Message</label>
            <input id="phone" type="text"  name="phone" class="myPhone" placeholder="Phone Number: 415-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <input id="nApi" type="text"  name="nApi" class="myNapi" placeholder="Nexmo API" >
            <input id="nSecret" type="text"  name="nSecret" class="mySecret" placeholder="Nexmo Secret" >
          </div>

          <div class="column">
            <input id="sendEmail" type="checkbox" id="e_mail" name="">
            <label for="e_mail"> Email</label>
            <label class="myDescription">We will send a notification to your Holberton School Email</label>
          </div>
        </div>
      </div>
      <input id="submit" type="submit" name="" value= "SUBMIT">
</form>
  </body>
</html>
